#add-comment {
    width: 30vw;
    height: fit-content;
    min-width: 300px;
    padding: 20px;
    width: 60vw;
}

.add-comment-form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.add-comment-form > div > textarea {
    min-height: 150px;
    border: 0.5px solid var(--primary-color);
}

