#posts {
    height: 100%;
    width: 50vw;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1vw;
    padding: 20px 20px 0px 20px;
}

#posts::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#posts {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
