.post {
    border: 0.5px solid var(--primary-color);
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.post:hover {
    border: 5px solid var(--primary-color);
}

.bottom-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.bottom-wrapper > p {
    color: grey;
    font-size: 0.8em;
}