.post {
    border: 1px solid black;
    width: 100%;
    padding: 20px;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
}


.bottom-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.bottom-wrapper > p {
    color: grey;
    font-size: 0.8em;
}

.heart-icon {
    stroke: var(--primary-color);
    fill: none;
}

.heart-icon:hover {
    fill: var(--primary-color);
    stroke: none;
}

.heart-icon-liked {
    fill: var(--primary-color);
    stroke: none;
}