#addPosts {
    width: 30vw;
    height: fit-content;
    min-width: 300px;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 12px;
}

.addPosts-form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.addPosts-form > .form-group > textarea {
    width: 100%;
    height: 10vw;
    max-height: 10vw;
    border: 0.5px solid var(--primary-color);
}

.addPosts-form > div > input {
    border: 0.5px solid var(--primary-color);
}