:root {
  --primary-color: rgb(234, 166, 126);
  --secondary-color: rgb(255, 226, 210);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Mariposa-Bold;
}

.App {
  text-align: center;
  font-family: ProximaNova-Regular;
}
html {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: ProximaNova-Regular;
  src: url("./assets/proximanova_regular.ttf");
}
@font-face {
  font-family: ProximaNova-Light;
  src: url("./assets/proximanova_light.otf") format('opentype');
}
@font-face {
  font-family: Mariposa-Medium;
  src: url("./assets/Mariposa\ Sans\ Std\ Medium.otf") format('opentype');
}
@font-face {
  font-family: Mariposa-Bold;
  src: url("./assets/Mariposa\ Sans\ Std\ Bold.otf") format('opentype');
}