.post {
    border: 0.5px solid var(--primary-color);
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.post:hover {
    border: 5px solid var(--primary-color);
}

.bottom-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.bottom-wrapper > p, .bottom-wrapper > div > p {
    color: grey;
    font-size: 12px;
}

.heart-icon {
    stroke: var(--primary-color);
    fill: none;
}

.heart-icon:hover {
    fill: var(--primary-color);
    stroke: none;
}

.heart-icon-liked {
    fill: var(--primary-color);
    stroke: none;
}