.post-detail {
    height: fit-content;
    min-width: 300px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1vw;
    padding: 20px;
}