:root {
  --primary-color: #FF6852;
  --secondary-color: #F5D7B8;
  --dark-grey: #7F7F7F;
  --light-grey: #D9D9D9;
  --primary-font: Bungee;
  --light-text: Inter-Light;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}



/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}

p {
  font-size: 14px;
  font-family: var(--light-text);
}

.btn-submit {
  background-color: var(--primary-color);
  color: white;
  font-family: var(--primary-font);
}

.btn-submit:hover {
  background-color: var(--secondary-color);
  color: white;
}