#addPosts {
    width: 30vw;
    min-width: 500px;
    padding: 20px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
    z-index: 22;
}

.addPosts-form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.btn-submit {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--heading-font);
}

.btn-submit:hover {
    background-color: var(--secondary-color);
    color: white;
}